body{
background-image: url(https://cloud.githubusercontent.com/assets/7751165/11788955/ab05debc-a261-11e5-990e-7ab654621f1c.jpg);
background-size: cover;
background-attachment: fixed;
line-height: 1.5;
background-position: -540px 0px;
}

.container {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h1{
    text-align: center;
}

a{
    float: left;
    
}

.colw-200{
    width: 200px
    margin-right: 50px;
}
.float-l{
    float:left;
}

p{
    clear: both;
}
